.local__agent__belt {
  background: var(--oxfordBlue);
  color: var(--white);

  padding: 2rem 0;
}

.local__agent__belt > article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  padding: 0 1.5rem;
}

@media (max-width: 768px) {
  .local__agent__belt > article {
    grid-template-columns: 1fr;
  }
}

.local__agent__details .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.local__agent__details .description {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
}

.searchbar__wrapper {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--white);
  background: var(--white);
  border-radius: 0.3rem;
}

.searchbar__wrapper input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
}

.searchbar__wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
  background: var(--mainBlue);
  color: var(--white);
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
}

/* Blogs Style  */

.blogs__container {
  padding: 0 1.5rem;
}

.blog__title {
  font-family: "Lato", sans-serif;
}

.blogs__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  margin-top: 5rem;
}

@media (max-width: 768px) {
  .blogs__wrapper {
    grid-template-columns: 1fr;
  }
}
